<td class="invoice-item-description">{{model.description}}</td>
<td class="invoice-item-amount">{{model.amount}} {{currency}}</td>
<td class="invoice-item-add-remove"><button type="button" class="btn btn-danger btn-xs" {{action deleteItem model}}><i class="fa fa-minus"></i></button></td>

