<button class="btn btn-primary print-button" {{action "printInvoice"}}><i class="fa fa-print"></i> Print</button>
<iframe id="printFrame" height="0" width="0" src="" style="position:fixed; right:0; bottom:0; border:0;"></iframe>