<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-bar-chart" aria-hidden="true"></i> Invoice Stats</h3>
  </div>
  <table class="table table-bordered"> 
    <tbody>
      {{#each getInvoiceStats as |item|}}
      <tr> 
        <td class="cell-status"><span class="label label-{{get item 'style'}}">{{titleize (get item 'status')}}</span></td> 
        <td class="cell-total">{{get item 'sum'}}</td> 
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>