// main styles

body {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  background-color: $light-gray;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
}

.main-container {
  display: flex;
  flex: auto;
  padding: 15px 30px;
}

.route-headline {
  border-bottom: 2px solid $light-gray;
  padding-bottom: 10px;
}
