// Variables

// Colors
$primary: #318cdf;
$info:    #00A4D9;
$success: #44bd66;
$warning: #fd9a35;
$danger:  #ed6c63;

$light-gray: #f0f4f6;
$white-blue: #f7fdfe
$white:      #ffffff;
$gray:       #919ba5;
$dark-gray:  #373b3e;
$black:      #252628;

// Border radius
$radius: 3px;
