// Variables

// Colors
$brand-primary: #318cdf;
$brand-info:    #00A4D9;
$brand-success: #66ccb8;
$brand-warning: #fd9a35;
$brand-danger:  #ed6c63;

$white:      #ffffff;
$white-blue: #f7fdfe;
$light-gray: #f0f4f6;
$medium-light-gray: #C9C9C9;
// $gray:       #919ba5;
// $dark-gray:  #373b3e;
$black:      #252628;

// Border radius
$radius: 3px;

$drop-shadow: 0 0 15px rgba(0,0,0,.1);


// Bootstrap
$nav-outline-link-border: transparent;
$nav-outline-active-link-hover-color: $white;
$nav-outline-active-link-hover-bg: transparent;
$nav-outline-active-link-hover-border: $white;
