<div class="row">
  <div class="col-xs-12">
    <h1 class="route-headline">Invoice</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{!-- {{invoice-table model=model}} --}}
  </div>
</div>
