{{header-navigation pageTitle=(if model.invoiceNumber model.invoiceNumber "New Invoice") showPrintButton=true}}
<div class="row">
  {{invoice-form
    isEditRoute=isEditRoute
    model=model}}
</div>
