{{header-navigation pageTitle=(if model.invoiceNumber "New Invoice") showPrintButton=isEditRoute}}
<div class="row">
  {{invoice-form
    isEditRoute=isEditRoute
    isProcessing=isProcessing
    model=model}}
</div>
