<div class="row">
  <div class="col-xs-12">
    <h1 class="route-headline">{{#link-to "invoices" class="btn btn-primary btn-sm" tagName="a" active=false}}<i class="fa fa-reply" aria-hidden="true"></i> Go Back{{/link-to}} {{model.invoiceTitle}}</h1>
  </div>
</div>
<div class="row">
  {{invoice-form 
    model=model
    changeset=(changeset model)
    submit=(action "submit")
    rollback=(action "rollback")}}
</div>