{{header-navigation pageTitle=(if model.invoiceNumber model.invoiceNumber "New Invoice")}}
<div class="row">
  {{invoice-form
    isEditRoute=isEditRoute
    model=model 
    changeset=(changeset model)}}
</div>