// Invoice route styles

.header-navigation {
  margin-top: 15px;
}

.inner-table-wrapper {
  margin-top: 15px;
}

.models-table-wrapper {
  .columns-dropdown {
    position: relative;
    z-index: 1000;
  }

  .invoice-status {
    font-size: 12px;
    display: block;
    padding: 6px 10px;
  }

  .table {
    tr.danger {
      .payment-due-date {
        font-weight: bold;
      }
    }
  }
}

.invoice-form {
  textarea {
    max-width: 100%;
  }
}