// Invoice view styles

.inner-table-wrapper {
  margin-top: 15px;
}

.models-table-wrapper {
  .form-control {
    color: $black;
  }

  .columns-dropdown {
    position: relative;
    z-index: 1000;
  }

  .invoice-status {
    font-size: 12px;
  }

  .table {
    tr.danger {
      .payment-due-date {
        font-weight: bold;
      }
    }
  }
}