// Templates route styles

.template-list {
  .template-tab {
    margin-top: 0;
    margin-bottom: 15px;    
  }

  .panel-heading {
    display: flex;
    align-items: center;
    cursor: pointer;

    .collapse-button {
      margin-right: 10px;
    }
  }

  .markup-container {
    textarea {
      height: 0;
      opacity: 0;
      width: 0;
    }
  }
}