<div class="app-container container-fluid">
  <div class="row">
    {{#unless isPdfView}}
      {{partial "sidebar"}}
    {{/unless}}
    <main class="main-container {{if isPdfView "pdf-view"}}">
      {{outlet}}
    </main>
  </div>
</div>