{{title "Ember Invoice Manager"}}
<div class="app-container container-fluid">
  <div class="row">
    {{partial 'sidebar'}}
    <main class="main-container">
      {{outlet}}
    </main>
  </div>
</div>
<iframe id="printFrame" height="0" width="0" src="" style="position:fixed; right:0; bottom:0; border:0;"></iframe>