{{title "Ember Invoice Manager"}}
<div class="app-container container-fluid">
  <div class="row">
    {{partial 'sidebar'}}
    <main class="main-container">
      {{outlet}}
    </main>
  </div>
</div>