<aside class="sidebar-container">
  <div class="logo">
    <span>Invoice Manager</span>
  </div>
  <a class="btn btn-primary" href="#"><i class="fa fa-plus"></i> New Invoice</a>
  <ul class="nav nav-stacked">
    <li class="active"><a href="#"><i class="fa fa-bar-chart"></i> Dashboard</a></li>
    <li><a href="#"><i class="fa fa-file-text"></i> Invoices</a></li>
  </ul>
</aside>
