<aside class="sidebar-container">
  <div class="logo">
    <span>INVOICE MANAGER</span>
  </div>
  {{#link-to 'invoices.new' class="btn btn-primary new-invoice-button"}}<i class="fa fa-plus"></i> New Invoice{{/link-to}}
  <ul class="nav nav-pills nav-stacked nav-outline">
    {{#link-to 'dashboard' tagName="li"}}<a href="" class="dashboard-link"><i class="fa fa-bar-chart"></i> Dashboard</a>{{/link-to}}
    {{#link-to 'invoices' tagName="li"}}<a href="" class="invoices-link"><i class="fa fa-file-text"></i> Invoices</a>{{/link-to}}
    {{#link-to 'templates' tagName="li"}}<a href="" class="settings-link"><i class="fa fa-files-o"></i> Templates</a>{{/link-to}}
    {{#link-to 'settings' tagName="li"}}<a href="" class="settings-link"><i class="fa fa-cogs"></i> Settings</a>{{/link-to}}
  </ul>
  <div class="footer">
    <span>Built with <a href="https://emberjs.com" target="_blank">Ember</a></span>
  </div>
</aside>
